@import "./index.css";


.faq-underline {
  margin-left: 1em;
  flex-grow: 1;
  border-color: var(--color-gray-tertiary--);
}

.faq-corner {
  position: relative;
}

.faq-corner::before {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  width: 50px;
  height: 80px;
  display: block;
  border-top: 1px solid var(--color-gray-tertiary--);
  border-right: 2px solid var(--color-gray-tertiary--);
}
