.faq-post{
    margin-bottom: 80px;
}

.faq-post-title {
    font-size: 1.25rem; 
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 50px;
}

.faq-post-suggest {
    display: flex;
    justify-content: space-between;
}